<nav class="bg-[#231F20] text-white">
    <div class="max-w-7xl mx-auto px-6">
        <div class="flex justify-between items-center h-16">

            <!-- Logo / Image à gauche -->
            <div class="flex items-center">
<img src="/assets/img/logo.png" alt="Logo" class="h-10 w-auto">
            </div>

            <!-- Liens à droite -->
            <div class="space-x-6">
                    <a href="{{ path('app_home') }}" class="hover:text-gray-400 transition">Accueil</a>
                    <a href="{{ path('dashboard') }}" class="hover:text-gray-400 transition">Tableau de bord</a>
                    <a href="{{ path('app_entreprise') }}" class="hover:text-gray-400 transition">Mes entreprises</a>
                    <a href="{{ path('app_contact') }}" class="hover:text-gray-400 transition">Contact</a>
                    <a href="{{ path('notes') }}" class="hover:text-gray-400 transition">Notes</a>
                    {% if app.user %}
                        <a href="{{ path('account_manage') }}" class="hover:text-gray-400 transition">Mon compte</a>
                        <a href="{{ logout_path() }}" class="hover:text-gray-400 transition">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('app_register') }}" class="hover:text-gray-400 transition">Inscription</a>
                        <a href="{{ path('app_login') }}" class="hover:text-gray-400 transition">Connexion</a>
                    {% endif %}
            </div>

        </div>
    </div>
</nav>
